<form [formGroup]="stockPickerForm">
  <mat-form-field>
    <input
      matInput
      placeholder="Symbol e.g AAPL"
      formControlName="symbol"
      value=""
    />
    <mat-error
      ><span
        *ngIf="
          !stockPickerForm.get('symbol').valid &&
          stockPickerForm.get('symbol').touched
        "
        >Please enter a symbol</span
      >
    </mat-error>
  </mat-form-field>

  <mat-form-field *ngIf="!showDateRangeData">
    <mat-label>Favorite time period</mat-label>
    <mat-select formControlName="period">
      <mat-option
        *ngFor="let timePeriod of timePeriods"
        [value]="timePeriod.value"
      >
        {{ timePeriod.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="showDateRangeData">
    <input matInput [matDatepicker] = "frompicker" placeholder = "From date (MM-DD-YYYY)" 
    [max]="maxDate" formControlName="startDate" 
    >
    <mat-datepicker-toggle matSuffix [for] = "frompicker"></mat-datepicker-toggle>
    <mat-datepicker #frompicker></mat-datepicker>
    <mat-error *ngIf="stockPickerForm.get('startDate').invalid && stockPickerForm.get('startDate').touched">
      <span>
        Please select From date</span>
  </mat-error>
 </mat-form-field>

 <mat-form-field *ngIf="showDateRangeData">
  <input matInput [matDatepicker] = "topicker" placeholder = "To date (MM-DD-YYYY)"
  [max]="maxDate" formControlName="endDate" (dateChange)="TodateInput($event)">
  <mat-datepicker-toggle matSuffix [for] = "topicker"></mat-datepicker-toggle>
  <mat-datepicker #topicker></mat-datepicker>
  <mat-error *ngIf="stockPickerForm.get('endDate').invalid && stockPickerForm.get('endDate').touched">
      <span>
        Please select To date</span>
  </mat-error>
</mat-form-field>

  <button class="btn-margin" (click)="fetchQuote()" mat-raised-button>Go</button> 
</form>

<button class="btn-margin" (click)="changeButton()" mat-raised-button>{{buttonContent}}</button>

<coding-challenge-chart [data$]="quotes$"></coding-challenge-chart>
